
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <div class="w3-container w3-light-grey w3-center" style="padding:128px 16px" id="contact">
        <h3 class="w3-center">LOGIN</h3>
       <div  style="width: 25%;margin-left: 38%;">
          <form action="/action_page.php" target="_blank">
            <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
            <p><input class="w3-input w3-border" type="password" placeholder="Password" required name="Subject"></p>
            <p><input class="w3-input w3-border" type="password" placeholder="Confirm Password" required name="Subject1"></p>
              <button class="w3-button w3-black" type="submit">
                Sign Up
              </button>
            </p>
          </form>
      </div>
        </div>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->